.DS_Store
### Terraform ###
**/.terraform/*
*.terraform.*

# tf state files
*.tfstate
*.tfstate.*

### Python ###
*.pyc

### Miscellaneous ###
inventory-scripts/*.png
inventory-scripts/*.txt
inventory-scripts/*.csv


cfat/node_modules
node_modules/**/*
cfat/build
cfat/cfat.txt
cfat/node_modules/*
cfat/build/*
