.DS_Store
### Terraform ###
**/.terraform/*
*.terraform.*

# tf state files
*.tfstate
*.tfstate.*

pathfinder/node_modules
node_modules/**/*
pathfinder/build
pathfinder/Pathfinder.txt
pathfinder/pathfinder.txt
